* {
    box-sizing: border-box;
  }

.header {
    border: 1px solid black;
}

.footer{
    border: 1px solid black;
    padding: 50px 50px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.main-container{
    border: 1px solid black;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
}

.nav-header{
    
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.list-item{

}

.nav-link{
    padding: 0px 30px;
    line-height: 50px;
    text-decoration: none;
}

.section{
    width: 49%;
}