.nav-list{
    display: flex;
    justify-content:first baseline;
    align-items: center;
    list-style-type: none;
}
.header{
    border: 2px solid rgb(236, 198, 148);
    background-color: rgb(236, 198, 148);
    margin: 1px;
    padding: 20px;
    text-align: center;
}
.nav-item{
    font-size: 20px;
    list-style-type: none;
    word-spacing: normal;
    margin: 10px;
}
.section-my-profile-logo{
    border-radius: 100px;
    margin-left: 180px;
    margin-top: 20px;
    border: 3px solid gray;
}
.section{
    width: 50%;
    margin-top: 20px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
     font-variant:small-caps;
     font-family:Arial, Helvetica, sans-serif;
     letter-spacing: 4px;
     color:darksalmon;
}
.text{
    font-size: 18px;
    line-height: 20px;
}
.footer{
    border: 2px solid rgb(236, 198, 148);
    background-color: rgb(236, 198, 148);
    margin: 1px;
    padding: 20px;
    text-align: left;
}
.section-my-name{
    text-transform: uppercase;
    font-size: 40px;
    color:chocolate;
    text-align: center;
    margin-top: 100px;
}
html{
    scroll-behavior: smooth;
}
a{
    font-size: 20px;
    font-style: italic;
    color:black;
    text-decoration: none;
}
.contacts{
    list-style-type: "\1F44D";
}
.link{
    text-align:left;
}
.rss{
    width: 100px;
    height: 150px;
    height: auto;
    margin-left: 1300px;
    }