*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;

}
.header{
    background-color: #0C0C0E;
    
}
.container-header{
    display: flex;
    max-width: 1440px;
    max-height: 90px;
   
}
.div1{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 294;
}
.h1{
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.div2{
    display: inline;
}
.nav{
    padding-top: 20px;
    padding-bottom: 88px;
    padding-right: 20px;
    padding-left: 454px;
}
.div3{
    padding: 31px 20px 31px 40px;
}
.svg{
    width: 28px;
height: 28px;
flex-shrink: 0;
}

.nav-list{
    list-style-type: none;
    display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
 }
.nav-item{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px;
}
a{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    line-height: 1;
    position: relative;
}
a:after{
    display:block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    content: "";
    background-color: chocolate;
    transition: width 0.3s ease-out;
}
a:hover:after,
a:focus:after {
	width: 100%; 
}

/*Welcome*/

.container-welcome{
    max-width: 100%;
    height: 600px;
    background:linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(https://cdn.discordapp.com/attachments/1127538409280376868/1128388870581526669/image.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-div{
    position: absolute;
width: 600px;
height: 220px;
padding: 35px 40px;
background: #000;
top: 300px;
left: 0;
z-index: 999;
}
.text-welcome{
    display: flex;
flex-wrap: inherit;
justify-content: center;
width: 520px;
height: 150px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px;  
letter-spacing: 3px;
text-transform: uppercase;
}

/*About*/

.section-about{
    width: 1440px;
    height: 837px;
}
.div1-about{
    width: 106px;
    height: 61px;
    flex-shrink: 0;
    padding-left: 667px;
    padding-top: 20px;
}
.text-about{
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.div-hr{
    padding-top: 20px;
    padding-left: 28px;
}
hr{
    width: 50px;
height: 1px;
flex-shrink: 0;
}
.div-about-line{
    width: 100%;
    padding-top: 61px;
}
.text-about-second{
    color: #000;
   text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.div2-about{
    padding: 20px 0 0 20px;
}
.img{
    margin-right: 25px;
    flex-shrink: 0;
}
.div3-about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
    padding-bottom: 20px;
}
.button-about{
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}.button-about-first{
    width: 16px;
    height: 16px;
    background: #BB945F;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/*Favorites*/

.section-favorites{
    max-width: 100%;
    height: 1440px;
}
.div1-fs{
    width: 160px;
    height: 61px;
    flex-shrink: 0;
    padding-left: 635px;
    padding-top: 20px;
}
.h2-fs{
    color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}
.hr-fs{
    padding-top: 20px;
    padding-left: 50px;
}
.div2-fs{
width: 100%;
padding-top: 60px;
padding-left: 20px;
}
.text-fs{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.div3-fs{
    padding-left: 20px;
    padding-top: 45px;
    
}
.input-fs{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}
.label-fs{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 90px
}
.div4-fs-container{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;    
    height: 1150px;
    flex-shrink: 0;
    margin: 40px 20px;
}

/* book1 */

.div5-books1{
    position: relative;
    max-width: 50%;
    width: 550px;
    height: 550px;
    border: 1px solid #000;
    background: #FFF;
}
.img-book1{
    position: absolute;
    margin-left: 390px;
    margin-top: 249px;
    
}
.book1-div1{
    padding-top: 15px;
    padding-left: 20px;
}
.book1-h3{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-hr{
    color: #BB945F;
    width: 60px;
    height: 1;
}
.book1-div2{
padding-top: 20px;
padding-left: 20px;
}
.book1-author{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.book1-div3{
    padding-top: 20px;
    padding-left: 20px;
    width: 355px;
}
.book1-text{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book1-div4{
padding-top: 10px;
padding-left: 20px;
}
.book1-button{
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
}

/* book2 */

.div5-books2{
    position: relative;
    max-width: 50%;
    width: 550px;
    height: 550px;
    border: 1px solid #000;
    background: #FFF;
    margin-left: 260px;
}
.img-book2{
    position: absolute;
    margin-left: 388px;
    margin-top: 249px;
}
.book2-div1{
    padding-top: 15px;
    padding-left: 20px;
}
.book2-h3{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-hr{
    color: #BB945F;
    width: 60px;
    height: 1;
}
.book2-div2{
padding-top: 20px;
padding-left: 20px;
}
.book2-author{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.book2-div3{
    padding-top: 20px;
    padding-left: 20px;
    width: 355px;
}
.book2-text{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book2-div4{
padding-top: 50px;
padding-left: 20px;
}
.book2-button{
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
}

/* book3 */

.div5-books3{
    position: relative;
    max-width: 50%;
    width: 550px;
    height: 550px;
    border: 1px solid #000;
    background: #FFF;
}
.img-book3{
    position: absolute;
    margin-left: 390px;
    margin-top: 249px;
}
.book3-div1{
    padding-top: 15px;
    padding-left: 20px;
}
.book3-h3{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-hr{
    color: #BB945F;
    width: 60px;
    height: 1;
}
.book3-div2{
padding-top: 20px;
padding-left: 20px;
}
.book3-author{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.book3-div3{
    padding-top: 20px;
    padding-left: 20px;
    width: 355px;
}
.book3-text{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book3-div4{
padding-top: 10px;
padding-left: 20px;
}
.book3-button{
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
}

/* book4 */

.div5-books4{
    position: relative;
    max-width: 50%;
    width: 550px;
    height: 550px;
    border: 1px solid #000;
    background: #FFF;
    margin-left: 260px;
}
.img-book4{
    position: absolute;
    margin-left: 388px;
    margin-top: 249px;
}
.book4-div1{
    padding-top: 15px;
    padding-left: 20px;
}
.book4-h3{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book-hr{
    color: #BB945F;
    width: 60px;
    height: 1;
}
.book4-div2{
padding-top: 20px;
padding-left: 20px;
}
.book4-author{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.book4-div3{
    padding-top: 20px;
    padding-left: 20px;
    width: 355px;
}
.book4-text{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.book4-div4{
padding-top: 130px;
padding-left: 20px;

}
.book4-button{
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    border-radius: 2px;
border: 1px solid #BB945F;
}

/* Coffe shop */

.section-CoffeeShop{
    display: flex;
    width: 1440px;
    height: 841px;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}
.div1-cs{
    width: 220px;
    height: 61px;

}
.h2-cs{
    color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}
.hr-cs{
    padding-top: 20px;
    padding-left: 70px;
}
.div2-cs{
width: 100%;
padding-top: 40px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
}
.text-cs{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;;
}
.div3-container-cs{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 520px;

}
.div4-cs{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 482px;
    gap: 40px;
}
.h3-cs{
    color: #BB945F;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 442px;
}
.span-title-cs{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
width: 210px;
}
.span-border-cs{
    width: 6.994vw;
    height: 1px;
    background-color: #BB945F;
}
.span-price-cs{
    color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}
.div5-cs{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 482px;
    gap: 40px;
    margin-left: 433px;
}

/* Contacts */

.section-contacts{
    display: flex;
width: 1440px;
padding: 20px 20px 40px 20px;
flex-direction: column;
align-items: center;
gap: 40px;
}
.div1-con{
    width: 240px;
height: 61px;
}
.h2-con{
    color: #0C0C0E;
text-align: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}
.hr-con{
    margin-top: 20px;
    margin-left: 75px;
}
.contacts-container{
    display: flex;
flex-wrap: wrap;
    gap: 201px;
}
.div1-contacts-text{
    width: 503px;
height: 380px;
text-align: left;
}
.h4-con{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
text-align: left;
margin-bottom: 40px;
}
.div1-text{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
text-align: left;
margin-bottom: 20px;
}
#div1-text-id{
    margin-bottom: 40px;
}
.div1-container-image{
    width: 696px;
    height: 414px;
}
